[submodule "uml"]
	path = uml
	url = git@github.com:nhathuynguyen19/uml.git
[submodule "introdution-java"]
	path = introdution-java
	url = git@github.com:nhathuynguyen19/introdution-java.git
[submodule "os-principle"]
	path = os-principle
	url = git@github.com:nhathuynguyen19/os-principle.git
[submodule "sql-query-language"]
	path = sql-query-language
	url = git@github.com:nhathuynguyen19/sql-query-language.git
[submodule "computer-network"]
	path = computer-network
	url = git@github.com:nhathuynguyen19/computer-network.git
[submodule "computer-structure"]
	path = computer-structure
	url = git@github.com:nhathuynguyen19/computer-structure.git
[submodule "cst"]
	path = cst
	url = git@github.com:nhathuynguyen19/cst.git
[submodule "data-structure-and-algorithm"]
	path = data-structure-and-algorithm
	url = git@github.com:nhathuynguyen19/data-structure-and-algorithm.git
[submodule "database-design"]
	path = database-design
	url = git@github.com:nhathuynguyen19/database-design.git
[submodule "database-management-system"]
	path = database-management-system
	url = git@github.com:nhathuynguyen19/database-management-system.git
[submodule "decrete-math"]
	path = decrete-math
	url = git@github.com:nhathuynguyen19/decrete-math.git
[submodule "environment"]
	path = environment
	url = git@github.com:nhathuynguyen19/environment.git
[submodule "introdution-to-programming"]
	path = introdution-to-programming
	url = git@github.com:nhathuynguyen19/introdution-to-programming.git
[submodule "linear-algebra"]
	path = linear-algebra
	url = git@github.com:nhathuynguyen19/linear-algebra.git
