[submodule "uml"]
	path = uml
	url = git@github.com:nhathuynguyen19/uml.git
[submodule "introdution-java"]
	path = introdution-java
	url = git@github.com:nhathuynguyen19/introdution-java.git
[submodule "os-principle"]
	path = os-principle
	url = git@github.com:nhathuynguyen19/os-principle.git
