USE [NguyenDinhNhatHuy]
GO
/****** Object:  Table [dbo].[HOSOVAYVON]    Script Date: 4/22/2024 1:49:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSOVAYVON](
	[MaHoSo] [nvarchar](10) NOT NULL,
	[LaiSuat] [float] NULL,
 CONSTRAINT [PK_HOSOVAYVON] PRIMARY KEY CLUSTERED 
(
	[MaHoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOSOVAYVON_THANHVIEN]    Script Date: 4/22/2024 1:49:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSOVAYVON_THANHVIEN](
	[MaThanhVien] [nvarchar](10) NOT NULL,
	[MaHoSo] [nvarchar](10) NOT NULL,
	[SoVonVay] [bigint] NULL,
 CONSTRAINT [PK_HOSOVAYVON_THANHVIEN_1] PRIMARY KEY CLUSTERED 
(
	[MaThanhVien] ASC,
	[MaHoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THANHVIEN]    Script Date: 4/22/2024 1:49:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHVIEN](
	[MaThanhVien] [nvarchar](10) NOT NULL,
	[HoDem] [nvarchar](50) NULL,
	[Ten] [nvarchar](15) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[NoiSinh] [nvarchar](250) NULL,
 CONSTRAINT [PK_THANHVIEN] PRIMARY KEY CLUSTERED 
(
	[MaThanhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[THANHVIEN] ([MaThanhVien], [HoDem], [Ten], [NgaySinh], [GioiTinh], [NoiSinh]) VALUES (N'TV01', N'Nguyễn Thị', N'Huế', CAST(N'1993-08-05' AS Date), 0, N'Đà Nẵng')
INSERT [dbo].[THANHVIEN] ([MaThanhVien], [HoDem], [Ten], [NgaySinh], [GioiTinh], [NoiSinh]) VALUES (N'TV02', N'Lê Văn', N'Lý', CAST(N'1992-09-21' AS Date), 1, N'TT Huế')
INSERT [dbo].[THANHVIEN] ([MaThanhVien], [HoDem], [Ten], [NgaySinh], [GioiTinh], [NoiSinh]) VALUES (N'TV03', N'Lê Thị Hồng', N'Nga', CAST(N'1991-07-24' AS Date), 0, NULL)
ALTER TABLE [dbo].[HOSOVAYVON_THANHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_HOSOVAYVON_THANHVIEN_HOSOVAYVON] FOREIGN KEY([MaHoSo])
REFERENCES [dbo].[HOSOVAYVON] ([MaHoSo])
GO
ALTER TABLE [dbo].[HOSOVAYVON_THANHVIEN] CHECK CONSTRAINT [FK_HOSOVAYVON_THANHVIEN_HOSOVAYVON]
GO
ALTER TABLE [dbo].[HOSOVAYVON_THANHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_HOSOVAYVON_THANHVIEN_THANHVIEN] FOREIGN KEY([MaThanhVien])
REFERENCES [dbo].[THANHVIEN] ([MaThanhVien])
GO
ALTER TABLE [dbo].[HOSOVAYVON_THANHVIEN] CHECK CONSTRAINT [FK_HOSOVAYVON_THANHVIEN_THANHVIEN]
GO
